<h1><%= @question.title %></h1>
<p><%= @question.body %></p>
<p>Likes: <%= @question.like_counter %></p>

<% if @question.liked_by? current_user %>
  <%= link_to "Un-Like", question_likes_path(@question) , method: :delete, class: "btn btn-danger" %>
<% else %>
  <%= link_to "Like", question_likes_path(@question), method: :post, class: "btn btn-primary" %>
<% end %>


<hr />

<%= link_to "Edit", edit_question_path(@question), class: "btn btn-info" %>

<% if @answer.errors.any? %>
  <ul>
    <% @answer.errors.each do |msg| %>
      <li><%= msg.inspect %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for [@question, @answer] do |f| %>
  <div class="form-group">
    <%= f.label :body, "Enter New Answer" %>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>

<br>
<h2>Answers</h2>
<% @question.answers.each do |answer| %>
  <%= special_truncate answer.body %>
  <p>Created On: <%= formatted_date answer.created_at %></p>
  <br>
  <%= link_to "Delete", [@question, answer], method: :delete, data: {confirm: "Are you sure you want to delete this answer"}, class: "btn btn-danger" %>
  <hr>
<% end %>
<%= link_to "All Questions", questions_path %>