#answer-errors= render "/answers/answer_errors", errors: answer.errors
= form_for [question, answer], remote: true do |f|
  .form-group
    = f.label :body, "Enter New Answer"
    = f.text_area :body, class: "form-control"
  = f.submit class: "btn btn-primary", data: {"disable-with" => "submitting.."}