<!DOCTYPE html>
<html>
<head>
  <title>AwesomeAnswers | <%= yield(:salman) %></title>
  <%= render "/layouts/head" %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <ul class="nav navbar-nav  navbar-left">
    <li><%= link_to "Home", root_path %></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="pull-right">
      <div>
        <% if user_signed_in? %>
          Hello <%= link_to current_user.name_display, edit_user_registration_path %>, 
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path %>
          |
          <%= link_to "Sign In", new_user_session_path %>
        <% end %>
        |
        <%= link_to "Tip us!", new_tip_path %>
        |

        <%= link_to_unless_current "English", locale: "en" %>
        <br>
        <%= link_to "Español", locale: "es" %>

      </div>
    </li>
  </ul>
</nav>


  <% if flash[:alert] %>
    <div class="alert alert-danger"><%= flash[:alert] %></div>
  <% elsif flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
